## question 1

In [2]:
from typing import Dict, List
import pandas as pd

In [3]:
def reverse_by_n_elements(lst: List[int], n: int) -> List[int]:
    r=[]
    for i in range(0,len(lst),n):
        g=[]
        for j in range(min(n,len(lst)-i)):
            g.insert(0,lst[i+j])
        r.extend(g)    
    

    # Your code goes here.
    return r

In [4]:
print(reverse_by_n_elements([1, 2, 3, 4, 5, 6, 7, 8], 3))

[3, 2, 1, 6, 5, 4, 8, 7]

In [5]:
print(reverse_by_n_elements([1,2,3,4,5],2))

[2, 1, 4, 3, 5]

## question 2

In [6]:
def group_by_length(lst: List[str]) -> Dict[int, List[str]]:
    r={}
    for i in lst:
        l=len(i)
        
        if l not in r:
            r[l]=[]
            
        r[l].append(i)
        
    # Your code here
    return dict(sorted(r.items()))

In [7]:
print(group_by_length(["apple", "bat", "car", "elephant", "dog", "bear"]))

{3: ['bat', 'car', 'dog'], 4: ['bear'], 5: ['apple'], 8: ['elephant']}

In [8]:
print(group_by_length(["one", "two", "three", "four"]))

{3: ['one', 'two'], 4: ['four'], 5: ['three']}

### QUESTION 3

In [10]:
def flatten_dict(nested_dict: Dict, sep: str = '.') -> Dict:
    result={}
    def _flat(c_d:Dict,p_k: str = ''):
        for key,value in c_d.items():
            n_k=f"{p_k}{sep}{key}" if p_k else key
            if isinstance(value,dict):
                _flat(value,n_k)
            elif isinstance(value,list):
                for idx, item in enumerate(value):
                    _flat({f"{key}[{idx}]": item},p_k)
            else:
                result[n_k]=value
    _flat(nested_dict)           
    
    # Your code here
    return result

In [12]:
nested_dict= {
    "road": {
        "name": "Highway 1",
        "length": 350,
        "sections": [
            {
                "id": 1,
                "condition": {
                    "pavement": "good",
                    "traffic": "moderate"
                }
            }
        ]
    }
}
flat=flatten_dict(nested_dict)
print(flat)

{'road.name': 'Highway 1', 'road.length': 350, 'road.sections[0].id': 1, 'road.sections[0].condition.pavement': 'good', 'road.sections[0].condition.traffic': 'moderate'}

### QUESTION 4

In [13]:
def unique_permutations(nums: List[int]) -> List[List[int]]:
    def perm(start: int):
        if start==len(nums):
            result.append(nums[:])
            return
        s=set()
        for i in range(start,len(nums)):
            if nums[i] not in s:
                s.add(nums[i])
                nums[start], nums[i]=nums[i],nums[start]
                perm(start+1)
                nums[start],nums[i]=nums[i],nums[start]
    result=[]
    nums.sort()
    perm(0)
    return result
        
    # Your code here
    pass

In [14]:
input_nums = [1, 1, 2]
output = unique_permutations(input_nums)
print(output)

[[1, 1, 2], [1, 2, 1], [2, 1, 1]]

#### QUESTION 5

In [23]:
import re
from typing import List

def find_all_dates(text: str) -> List[str]:
    patterns = [
        r'\b(\d{2})-(\d{2})-(\d{4})\b',  
        r'\b(\d{2})/(\d{2})/(\d{4})\b',  
        r'\b(\d{4})\.(\d{2})\.(\d{2})\b']
    datestofind = []
    for pattern in patterns:
        datestofind.extend(re.findall(pattern, text))
    datesformatted = []  
    for date in datestofind:
        if len(date) == 3:
            datesformatted.append('-'.join(date) if '-' in text else
                                  '/'.join(date) if '/' in text else
                                  '.'.join(date))
    return datesformatted

In [27]:
text = "I was born on 23-08-1994, my friend on 08/23/1994, and another one on 1994.08.23."
result=find_all_dates(text)
print(result)

['23-08-1994', '08-23-1994', '1994-08-23']

### QUESTION 6

In [28]:
!pip install pandas polyline numpy

Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (2.0.3)
Collecting polyline
  Downloading polyline-2.0.2-py3-none-any.whl (6.0 kB)
Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.12.0)
Installing collected packages: polyline
Successfully installed polyline-2.0.2

WARNING: Ignoring invalid distribution -rotobuf (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\lenovo\anaconda3\lib\site-packages)

In [20]:
import polyline
import pandas as pd
import numpy as np

def haversine(latitude1, longitude1, latitute2, longitude2):
    latitude1, longitude1, latitute2, longitude2 = map(np.radians, [latitude1, longitude1, latitute2, longitude2])
    
    # Haversine formula
    dlon = longitude2 - longitude1 
    dlat = latitute2 - latitude1 
    a = np.sin(dlat/2)**2 + np.cos(latitude1) * np.cos(latitute2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a)) 
    r = 6371000  # Radius of Earth in meters
    return c * r

In [22]:
def polyline_to_dataframe(polyline_str: str) -> pd.DataFrame:
    if not polyline_str or len(polyline_str) < 10:
        raise ValueError("Invalid polyline string")
    
    coordinates = polyline.decode(polyline_str)
    df = pd.DataFrame(coordinates, columns=['latitude', 'longitude'])
    df['distance'] = [0] + [haversine(*df.iloc[i-1], *df.iloc[i]) for i in range(1, len(df))]
    
    return df

In [23]:
polyline_str = "_p~iF~ps|U_ulLnnqC_mqNvxq`@"
df = polyline_to_dataframe(polyline_str)
print(df)

   latitude  longitude       distance
0    38.500   -120.200       0.000000
1    40.700   -120.950  252924.435162
2    43.252   -126.453  535981.434984

### QUESTION 7

In [ ]:
from typing import List

def rotate_and_multiply_matrix(matrix: List[List[int]]) -> List[List[int]]:
    """
    Rotate the given matrix by 90 degrees clockwise, then multiply each element 
    by the sum of its original row and column index before rotation.
    
    Args:
    - matrix (List[List[int]]): 2D list representing the matrix to be transformed.
    
    Returns:
    - List[List[int]]: A new 2D list representing the transformed matrix.
    """
    n = len(matrix)
    rotated_matrix = [[0] * n for _ in range(n)]
    for i in range(n):
        for j in range(n):
            rotated_matrix[j][n - 1 - i] = matrix[i][j]
    final_matrix = [[0] * n for _ in range(n)]
    for i in range(n):
        for j in range(n):
            original_row = n - 1 - j  
            original_col = i    
            index_sum = original_row + original_col
            final_matrix[i][j] = rotated_matrix[i][j] * index_sum
    return final_matrix

### QUESTION 8

In [60]:
# uploading the data
df=pd.read_csv("dataset-1.csv")
df

,id,name,id_2,startDay,startTime,endDay,endTime,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,1040000,Montgomery,-1,Monday,05:00:00,Wednesday,10:00:00,3.0,3.0,-1.0,-1,3,3,3,3
1,1040010,Black,-1,Monday,10:00:00,Friday,15:00:00,6.0,6.0,-1.0,-1,6,6,6,6
2,1040020,Emerald,-1,Thursday,15:00:00,Friday,19:00:00,3.0,3.0,-1.0,-1,3,3,3,3
3,1040030,Foley,-1,Monday,19:00:00,Friday,23:59:59,6.0,6.0,-1.0,-1,6,6,6,6
4,1050000,Whittier,1050001,Saturday,00:00:00,Sunday,23:59:59,6.0,6.0,NaN,-1,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39509,1031012,Baldwin,1031030,Monday,19:00:00,Friday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39510,1031012,Baldwin,1031032,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39511,1031014,Thickson,1031016,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39512,1031014,Thickson,1031018,Monday,05:00:00,Wednesday,10:00:00,8.0,8.0,4.0,4,8,8,8,8
39513,1031014,Thickson,1031020,Monday,10:00:00,Friday,15:00:00,11.0,11.0,4.0,4,11,11,11,11

In [61]:
df.columns

Index(['id', 'name', 'id_2', 'startDay', 'startTime', 'endDay', 'endTime',
       'able2Hov2', 'able2Hov3', 'able3Hov2', 'able3Hov3', 'able5Hov2',
       'able5Hov3', 'able4Hov2', 'able4Hov3'],
      dtype='object')

In [67]:
def time_check(df: pd.DataFrame) -> pd.Series:
    #making sure endday and startday are in string format
    df['startDay'] = df['startDay'].astype(str)
    df['endDay'] = df['endDay'].astype(str)
    # conversion of timsstamp column to datatime format
    df['start_datetime'] = pd.to_datetime(df['startDay'] + ' ' + df['startTime'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
    df['end_datetime'] = pd.to_datetime(df['endDay'] + ' ' + df['endTime'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
    # mutli index series is created
    result = pd.Series(index=pd.MultiIndex.from_product([df['id'].unique(), df['id_2'].unique()]), dtype=bool)
    grouped = df.groupby(['id', 'id_2'])
    # checking group for completeness
    for (idval, id2val), group in grouped:
        mintimestamp = group['start_datetime'].min()
        maxtimestamp = group['end_datetime'].max() # check for NaT values
        if pd.isna(mintimestamp) or pd.isna(maxtimestamp):
            result[(idval, id2val)] = True
            continue
        # checking if it covers full 24 hours or not
        fulldaycoverage = (mintimestamp.time() <= pd.Timestamp('00:00:00').time() and 
                             maxtimestamp.time() >= pd.Timestamp('23:59:59').time())
        # checking all 7 days are covered
        dayscovered = group['start_datetime'].dt.dayofweek.unique()
        alldayscovered = len(dayscovered) == 7

        result[(idval,id2val)] = not(fulldaycoverage and alldayscovered)
    
    return result

In [68]:
incorrect_timestamps = time_check(df)
print(incorrect_timestamps)

1040000  -1          True
          1050001    True
          1050000    True
          1200002    True
          1200004    True
                     ...
1067001   1292046    True
          1292006    True
          1292028    True
          1292000    True
          1300008    True
Length: 304720, dtype: bool